@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('images/background.jpg');
    background-color: #FAFFFA;
}

img{
  width: 50%;
  height: 50%;
}

.rectangle{
  position: absolute;
  padding-left: 0px;
  padding-top: 5px;
  display: block;
  height: 50%;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(30px);
 /* Note: backdrop-filter has minimal browser support */
 border-radius: 18px;
}

.rectangle img{
  width: 50%;
  height: 50%;
}

.heading {
  font-weight: bold;
    font-size: 40px;
}

/* Use # to select the element with that id  */
#home{
  text-align: center;
}

/* Chain selectors in order to target specific elements that follow others */
/* In this case we are selecting all a tags inside the element with the id home-buttons */
#home-buttons a {
  margin: 0.5em; /* em = relative to the fontsize of the element */
  margin-top: 3%; /* % is relative to parent element */ 
}

#back-btn{
  margin-right: 1em;
}

#current{
  color: pink
}

.sidenav {
  width: 20%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(30px);
  position: fixed;
  font-family: Mandali;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 59px;
  
}

.nav-link{
  color: #FFFFFF;
}

p{
  text-align: center
}

.sidebar {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s; 
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}