<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>STEMxINISM - About</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />

  </head>

  <body>
    <script src="script.js"></script>
  <button class="btn" type="button" > STEMxINISM</button> 
  
  <div class="sidenav">
    <!-- Create class nav-list to hold elements of navigation bar -->
    <ul class="nav-list">
      <!-- For each element in navigation bar, create a nav-item class that contains a nav-link class-->
      <ul class="nav-item">
        <!-- Each nav-link class will contain an href to its respective html section-->
        <a class="nav-link" href="/">Home</a>
      </ul>

      <ul class="nav-item">
        <!-- Each nav-link class will contain an href to its respective html section-->
        <a id="current" class="nav-link" >About</a>
      </ul>

      <ul class="nav-item">
        <!-- Each nav-link class will contain an href to its respective html section-->
        <a class="nav-link" href="/articles/all">Articles</a>
      </ul>

      <ul class="nav-item">
        <!-- Each nav-link class will contain an href to its respective html section-->
        <a class="nav-link" href="/issues">Issues</a>
      </ul>

      <ul class="nav-item">
        <!-- Each nav-link class will contain an href to its respective html section-->
        <a class="nav-link" href="/contribute">Contribute</a>
      </ul>

      <ul class="nav-item">
        <!-- Each nav-link class will contain an href to its respective html section-->
        <a class="nav-link" href="/connect">Connect</a>
      </ul>

    </ul>
    
  </div >
  <div>
    <p style="margin-left: 25%">As our respective societies around the world have grown to be more technologically advanced, the demand for careers in science, technology, engineering, and mathematics (STEM) has also increased. 

      Despite the baby steps towards inclusivity of women in these industries on a global scale, there still persists a concerning gender gap in STEM careers. 
      
      According to Catalyst.org, the average percentage of women employed in scientific research and development positions across regions around the world only accounts to less than a third at 29.3% out of the total positions. Many other STEM job opportunities face a similar deficiency in female representation. 
      
      And unfortunately, these percentages continue to decrease when looking higher up the leadership ladder. With that in mind, it can often feel daunting trying to build a career around an environment where women are not always adequately represented.
      
      In light of this issue, we built STEMxININE as a safe space for women at any stage of building their STEM careers, whether that be in academia or at any point navigating job positions in their respective industries. 
      
      This digital media collective hopes to inspire women to continue building their STEM careers with a sense of confidence and a sense of belonging by curating STEM related stories and resources by women for women. 
      
      We firmly believe that Women are the future of STEM. However, in order to reach that point, we must pay attention to and uplift the voices of women who are pursuing STEM careers in the present, and STEMxININE digital media collective is a reflection of that sentiment.
      </p>
    </div>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
