<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>STEMxINISM - Articles</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />  </head>

  <body>
    <script src="script.js"></script>
    <button class="btn" type="button" > STEMxINISM</button> 
  
  <h2 style="margin-left: 25%">Comming Soon</h2>

  <div class="sidenav">
    <!-- Create class nav-list to hold elements of navigation bar -->
    <ul class="nav-list">
      <!-- For each element in navigation bar, create a nav-item class that contains a nav-link class-->
      <ul class="nav-item">
        <!-- Each nav-link class will contain an href to its respective html section-->
        <a class="nav-link" href="/">Home</a>
      </ul>

      <ul class="nav-item">
        <!-- Each nav-link class will contain an href to its respective html section-->
        <a  class="nav-link" href="/about">About</a>
      </ul>

      <ul class="nav-item">
        <!-- Each nav-link class will contain an href to its respective html section-->
        <a class="nav-link" href="/articles/all">Articles</a>
      </ul>

      <ul class="nav-item">
        <!-- Each nav-link class will contain an href to its respective html section-->
        <a class="nav-link" href="/issues">Issues</a>
      </ul>

      <ul class="nav-item">
        <!-- Each nav-link class will contain an href to its respective html section-->
        <a class="nav-link" href="/contribute">Contribute</a>
      </ul>

      <ul class="nav-item">
        <!-- Each nav-link class will contain an href to its respective html section-->
        <a id="current" class="nav-link">Connect</a>
      </ul>

    </ul>
    
  </div>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>